<div class="login-container" ng-controller="loginCtrl">
         <div class="text-center" style="padding:50px 0">
            <div class="logo">ĐĂNG NHẬP</div>
            <!-- Main Form -->
            <div class="login-form-1">
              <form id="login-form" name="loginForm" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                  <div class="login-group">
                    <div class="form-group">
                      <label for="lg_username" class="sr-only">Username</label>
                      <input required type="text" class="form-control" id="lg_username" name="lg_username" ng-model="username" placeholder="Tên đăng nhập" maxlength="30" 
                      ng-class="{'input-error': loginForm.lg_username.$touched && loginForm.lg_username.$invalid }">
                    </div>
                    <div class="form-group">
                      <label for="lg_password" class="sr-only">Password</label>
                      <input required type="password" class="form-control" id="lg_password" name="lg_password" ng-model="password" placeholder="Mật khẩu"  
                      ng-class="{'input-error': loginForm.lg_password.$touched && loginForm.lg_password.$invalid }" >
                    </div>
                    <!--<div class="form-group login-group-checkbox">
                      <input type="checkbox" id="lg_remember" name="lg_remember">
                      <label for="lg_remember">remember</label>
                    </div>-->
                  </div>
                  <button ng-click="login()" type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!--<div class="etc-login-form">
                  <p>forgot your password? <a href="#">click here</a></p>
                  <p>new user? <a href="#">create new account</a></p>
                </div>-->
              </form>
            </div>
            <!-- end:Main Form -->
          </div>
      </div>